.Dprofile{
    position: absolute;
    top:80px;
    left:260px;
    width: 100%;
    margin-bottom: 50px;
}

.Dinfo{
    background-color: rgba(67, 147, 197, 0.473);
    display: flex;
    flex-direction: row;
    grid-gap: 10px;
}
.Dimage{
    width:15%;
    padding: 10px 5px 10px 10px;
    margin-left: 20px;
    margin-top: 10px;
    position: relative;
}

.Dimage img{
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid black;
}

.Ddetails{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    padding: 15px;
    justify-content: flex-start;
    font-size: 24px;
    font-family: Mabry-Regular;
}

.DnameAge{
    display: flex;
    padding: 10px;
    flex-direction: column;
    grid-gap: 10px;
    line-height: 1.8;
}

.qualifications{
    display: flex;
    padding: 10px;
    flex-direction: column;
    grid-gap: 10px;
    line-height: 1.8;
    margin-left: 80px;
}

.debtn{
  margin-left: 10px;
  padding: 29px;
}

.debtn button{
  background-color: rgb(41, 175, 241);
  font-size: 22px;
  font-weight: 700;
  font-family: Mabry-Regular;
  border: 1px solid black;
}

.debtn :hover{
  border: 2px solid black;
  border-radius: 10px;
  background-color:#6d80f4;
}

.records{
    margin-top: 40px;
    margin-left: 50px;
}

.operation{
  margin-top: 50px;
  margin-bottom: 50px;
}

.records h2{
  font-family: Mabry-Regular;
  font-weight: 600;
  text-decoration: underline;
}

table {
  margin-top: 20px;
  border-collapse: separate;
  width: 45%;
  font-size: 1.2rem;
  background-color: white;
  border: 2px solid black;
  box-shadow: 8px 8px 5px rgba(128, 128, 128, 0.989);
  }
  
  thead {
    background-color: rgb(41, 175, 241);
  }
  
  thead th {
    font-size:22px;
    font-weight:600;
    font-family: Mabry-Regular;
    color:white;
    text-shadow:1px 1px 0px rgba(0,0,0,0.5);
    text-align:left;
    padding:20px;
  }
  
  tbody tr td {
    white-space: nowrap;
    font-weight:500;
    font-size:20px;
    font-family: Mabry-Regular;
    padding:20px 20px 20px 20px;
  }

  tbody input{
    width: fit-content;
    height: auto;
    border: none;
    border-radius: 4px;
    font-family: Mabry-Regular;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 16px;
  }
  
  tbody button{
    color: white;
    font-size: 20px;
    font-family: Mabry-Regular;
    padding: 10px;
    background-color:rgb(41, 175, 241) ;
    font-size: 20px;
    font-weight: 600;
    font-family: Mabry-Regular;
    border: 1px solid black;
  }

  .enm{
    font-size: 22px;
    font-family: Mabry-Regular;
    font-weight: 800;
    margin: 10px;
  }

  .enm input{
    margin-top: 5px;
    font-size: 18px;
    font-family: Mabry-Regular;
    font-weight: 600;
  }

  .ecover-div{
    margin: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .ecover-div p {
    font-size: 22px;
    font-weight: 800;
    font-family: Mabry-Regular;
  }
  
  .dotted-div {
    width: 80%;
    height: 200px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.epbtn{
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 20px;

}

.epbtn button{
  background-color: rgb(41, 175, 241);
  font-size: 22px;
  font-weight: 700;
  font-family: Mabry-Regular;
  border: 0.8px solid black;
}

.epbtn :hover{
  border: 1px solid black;
  border-radius: 10px;
  background-color:#6d80f4;
}